*, *::before, *::after {
  box-sizing: border-box;
}
body {
    margin: 0;
    color: #242635;
}
.container {
    max-width: 864px;
    margin: 0 auto;
    padding: 0 20px;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo {
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.25px;
    font-family: "Source Sans 3", sans-serif;
    text-decoration: none;
    color: inherit;
}
.nav-links {
    display: flex;
    gap: 28px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-links a {
    font-weight: normal;
    font-size: 16px;
    line-height: 22.4px;
    text-decoration: none;
    color: #242635;
}
.menu-icon {
    display: none;
    font-size: 28px;
}
.main-container {
    max-width: 590px;
    text-align: center;
    margin: 70px auto 0 auto;
}
.main-container h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 90px;
    line-height: 102px;
    letter-spacing: -2px;
    margin: 0;
}
.main-container p {
    font-family: "Source Sans 3", sans-serif;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    margin-top: 30px;
}
.image-container {
    margin-top: 47px;
}
.image-container img {
    width: 100%;
    height: auto;
    display: block;
}
/* ==== DESKTOP ==== */
@media screen and (max-width: 1440px) {
    .main-container h1 {
        font-size: 90px;
        line-height: 102px;
        letter-spacing: -2px;
    }  
    .image-container {
        max-width: 864px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 20px;
    }
}
/* ==== TABLET ==== */
@media screen and (max-width: 768px) {
    .main-container h1 {
        font-size: 72px;
        line-height: 82.8px;
        letter-spacing: -1.6px;
    }
    .main-container {
        margin-top: 60px;
    }
    .logo {
        font-weight: bold;
    }
    .image-container img {
        height: 800px;
        width: 768px;
        margin: 0 auto;
        padding: 0 20px;
    }
}
/* ==== MOBILE ==== */
@media screen and (max-width: 320px) {
    .nav-links {
        display: none;
    }
    .menu-icon {
        display: block;
    }
    .logo {
        font-weight: bold;
    }
    .main-container {
        margin-top: 40px;
    }
    .main-container h1 {
        font-size: 36px;
        line-height: 39.6px;
        letter-spacing: -0.8px;
    }
    .main-container p {
        font-size: 12px;
        line-height: 18px;
    }
    .image-container img {
        height: 350px;
        width: 320px;
        margin: 0 auto;
        padding: 0 20px;
    }
}